<template>
  <nav id="bleunuance" class="main-navbar sticky-top border-bottom">
    <h1 class="text-center">Navbar</h1>
  </nav>
</template>

<script>
export default {
  
  name: 'Navbar',

  mounted () {

  }
}
</script>

<style>
  #bleunuance{
    background-color:#3F5764;
  }
</style>
