<template>
  <!-- Sidebar -->
  <aside  class="main-sidebar col-2 p-0 bleunuance">
    <div class="nav-wrapper">
      <ul class="nav flex-column">
        <li class="nav-item ml-5" v-for="(nav, key) in navs" :key="key" >
          <div class="list-group-item-action bleunuance">
            <link :to="{name: nav.name}" class="nav-link">
            <b>{{ nav.title }}</b>
          </div>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
  </aside>
</template>

<script>
export default {

  /*name: 'Sidebar',*/

  data () {
    return {
      navs: [
        {name: 'forum', title: 'Forum'},
        {name: 'outils',title: 'Outils'},
      ]
    }
  },

}
</script>

<style>
  .bleunuance{
    background-color:#3F5764;
    color:  #ededed;
  }
</style>
