<template>
  <div class="home fond vh-100">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>test</h1>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'home',
  components: {
    
  }
}
</script>
