<template>
  
  <div id="app" class="app">
    <nav class="navbar">
      <select>
        <option value="FR">FR</option>
        <option value="AN">AN</option>
      </select>
      <select>
        <option value="PC">PC</option>
        <option value="PS4">PS4</option>
        <option value="XBOX">XBOX</option>
      </select>
    </nav>
    <div class="row">
      
        <div class="col-lg-2 navside vh-100">
        <!-- Sidebar -->
        <aside  class="main-sidebar">
          <div class="main-navbar">
            <div class="nav-wrapper">
              <router-link class="nav-link" to="/">Accueil</router-link>
              <router-link  class="nav-link" to="/about">about</router-link>
            </div>
          </div>
        <!-- /#sidebar-wrapper -->
        </aside>
      </div>
      
      <div class="col-lg-10 p-0 ">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<style>
  @import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

  .navside{
    background-color: #3F5764;
  }

  .navbar{

    background-color: #3F5764;
  }

  .fond{
    background-color: #30424c;
    
  }

  body {
    min-height: 100vh;
  }

  .app{
    height: 100vh;
  }
  
  
</style>
